body{
    padding: 4px;
}

.title{
    font-weight: bold;
    color: rgb(18, 158, 223);
}

.text{
    font-size: 16pt;
    color: black;
    font-size: small;
}
.icon-text {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.icon-text svg {
    width: 24px;
    height: 24px; 
    vertical-align: middle; 
    margin-right: 5px; 
}

